.pokemon-list {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
  gap:1em;
}

body{
  background-color: #253033;
  color: #D3D3D3;
  margin: 40px;
}

.navbar {
padding: 5px;
}

.modal-content {
  background-color: #253033;
}

.close {
  color: #D3D3D3;
}
.close:hover {
  color: #D3D3D3;
}
