.pokemon-list {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
  gap:1em;
  text-transform: capitalize;
}

body{
  background-color: #253033;
  color: #D3D3D3;
  margin: 40px;
}

.modal-content {
  background-color: #253033;
  text-transform: capitalize;
}

.close {
  color: #D3D3D3;
}
.close:hover {
  color: #D3D3D3;
}

.d-flex{
margin-top: 5%;
}
.btn{
  background-color: #D3D3D3;
  color: #253033;
  text-transform: capitalize;
}

.btn:hover{
  opacity:0.5;
  background-color: #D3D3D3;
  color: #253033;
}

.btn:target{
  opacity:0.5;
  background-color: #D3D3D3;
  color: #253033;
}
